* {
  color: #ffffff;
  text-align: center;
}

body {
  background-image: url("code.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Knewave", "Times New Roman", Times, serif, cursive !important;
  margin-top: 8vh !important;
  margin-bottom: 6vh !important;
  font-size: 8vh !important;
}

h2 {
  font-size: 4vh !important;
}

h3 {
  font-size: 3vh !important;
}

h5 {
  font-size: 4vh !important;
}

h5:hover {
  transform: rotate(5deg);
}
.card:hover {
  box-shadow: 3vh, 3vh, 3vh, 3vh #ffffff;
}
img {
  position: relative;
  margin-top: 8px;
  border: 2px solid lightgray !important;
}

.far {
  position: absolute;
  top: 5% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  color: transparent;
}

.far:hover {
  color: lightgrey;
}

img:hover {
  transform: scale(1.05);
}

h6 {
  font-size: 2.8vh !important;
}

.card {
  background-color: rgba(00, 00, 00, 0.8) !important;
  font-family: "Titillium Web", cursive;
}

.btn {
  margin-bottom: 8px;
}

p {
  font-size: 2.5vh !important;
  text-align: justify;
}

footer {
  background-color: black;
  margin: 0.1px !important;
  margin-top: 20px !important;
  margin-bottom: 15px !important;
  height: 30px;
  width: 100%;
}

a {
  color: lightgray !important;
}

footer a:hover {
  transform: scale(1.2);
  text-decoration: none !important;
  font-weight: bolder !important;
}
